@model CafeAnything.DomainModel.Categories

@{
    ViewBag.Title = "Edit Category";
    Layout = "~/Views/AdminLayout/AdminHomeLayout.cshtml";
}

<h2>Edit Category</h2>

@using (Html.BeginForm("EditCategory", "Admins", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.CategoryID, new { @readonly = "readonly" })

        <div class="form-group">
            @Html.LabelFor(model => model.CategoryType, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.CategoryType, htmlAttributes: new { @class = "form-control w3-btn w3-white w3-border w3-border-red w3-round-large w3-padding-small" })
                @Html.ValidationMessageFor(model => model.CategoryType, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FoodName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FoodName, new { htmlAttributes = new { @class = "form-control w3-btn w3-white w3-border w3-border-red w3-round-large w3-padding-small" } })
                @Html.ValidationMessageFor(model => model.FoodName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { step="0.01" , type = "number", @class = "form-control w3-btn w3-white w3-border w3-border-red w3-round-large w3-padding-small" } })
                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.FoodImg, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="UserPhoto" id="UserPhoto" accept="image/*" onchange="return upload_image()" class="form-control w3-btn w3-white w3-border w3-border-red w3-round-large w3-padding-small" />
                <br />
                <div id="before_upload">
                    @{
                        var base64 = Convert.ToBase64String(Model.FoodImg);
                        var imgsrc = string.Format("data:image/gif;base64,{0}", base64);
                    }
                    <img src="@imgsrc" style="max-height : 280px ; max-width:250px;" />
                </div>
            </div>
        </div>

        <div style="background-color:#00ff00">
            @{
                if (ViewBag.Success != null)
                {
                    <p class="text-center">@ViewBag.Success</p>
                }
            }
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.TextBox("Save", "Save Changes", new { type = "submit", @class = "w3-btn w3-white w3-border w3-border-red w3-round-large test" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.ActionLink(" Menu Page", "CategoryMenu", "Admins", new { @class = "btn btn-primary btn-sm w3-button w3-aqua w3-round-xlarge w3-border-red glyphicon glyphicon-home" })
            </div>
        </div>
    </div>
}

<script>
    function upload_image() {
        var SelectedFile = document.getElementById("UserPhoto");
        var filePatch = SelectedFile.value;
        var allowedExtension = /(\.jpg|\.jpeg|\.png)$/i;
        if (!allowedExtension.exec(filePatch)) {
            alert('Only accept jpg,png,jpeg. Please upload again.');
            SelectedFile.value = "";
            var image = $("#before_upload")
            image.fadeOut('fast', function () {
                image.html('<img src="~/Content/IMG/Default.png" style="width:30%/>');
                image.fadeIn('fast');
            });
        }
        else {
            if (SelectedFile.files && SelectedFile.files[0]) {
                var reader = new FileReader();
                reader.onload = function (event) {
                    var image = $("#before_upload")
                    image.fadeOut('fast', function () {
                        image.html('<img src="' + event.target.result + '" style="width:30%"/>');
                        image.fadeIn('fast');
                    });
                };
                reader.readAsDataURL(SelectedFile.files[0]);
            }
        }
    }
</script>
