@model IEnumerable<CafeAnything.DomainModel.Users>

@{
    ViewBag.Title = "Users";
    Layout = "~/Views/AdminLayout/AdminHomeLayout.cshtml";
}

<h2>Users</h2>

<p>
    @Html.ActionLink("Create New", "CreateNewAcc", "", new { @class = "w3-btn w3-white w3-border w3-border-red w3-round-large" })
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Roles)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Roles)
            </td>

            <td class="w3-btn w3-aqua w3-border w3-border-red w3-round-large w3-padding-small glyphicon glyphicon-edit" style="margin-top:0.5%">
                @Html.ActionLink("Edit", "EditUser", new { id = item.ID })
            </td>

            <td class="w3-btn w3-aqua w3-border w3-border-red w3-round-large w3-padding-small glyphicon glyphicon-eye-open" style="margin:0.5% 0px 0px 2%">
                @Html.ActionLink("Details", "UserDetail", new { id = item.ID })
            </td>
            <td class="w3-btn w3-aqua w3-border w3-border-red w3-round-large w3-padding-small glyphicon glyphicon-trash" style="margin:0.5% 0px 0px 2%">
                @Html.ActionLink("Delete", "DeleteUser", new { id = item.ID })
            </td>
        </tr>
    }

</table>

<div class="text-danger">
    @{
        if (ViewBag.Error != null)
        {
            <br />
            <p class="alert alert-danger text-center">@ViewBag.Error</p>
        }
    }
</div>
